* {
 font-family: 'Fredoka One', cursive;
 margin: 0;
 padding: 0;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #515158 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 14px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #515158;
    border-radius: 9px;
    border: 2px none #ffffff;
  }

body {
  background-image: url("background.jpg");
  background-opacity: 0.5;
  background-size: cover;
  text-align: center;
  margin-top: 250px;
}
 
.top-bar {
  outline: 2px dashed #4b4b52;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 300px;
  border-radius: 50px;
  height: 60px;
  opacity: 0.95;
  background-color: white;
  position: fixed;
  top: 0;

}

.header {
  color: white;
  font-size: 48px;
}
.header1 {
  color: white;
}
.block {
  color: white;
}
.social {
 display: inline;
 max-width: 42px;
 max-height: auto;
}

.container{
 margin-top:300px;
 background-color:white;
}

.text-margin {
  padding-top: 200px;
  font-size: 24px;
  color: #7895ff;
  padding-bottom: 30px;
}

.avatar{
 width: 100px;
 height: auto;
}

.sub-container{
 background-color:white;
 padding-bottom: 300px;
}

.darkmode-icon {
 position: relative;
 margin-left: 95%;
 margin-top: 12px;
 height: 34px;
 width: auto;
}
