* {
 font-family: 'Fredoka One', cursive;
 /*background-color: lightblue;*//*holas iaentuaeifaeif iejgiusefisefi8j488e*/
 
}

body {
  background-image: url("background.jpg");
  background-opacity: 0.5;
  background-size: cover;
  text-align: center;
  margin: 250px;
}

.header {
  color: white;
  font-size: 48px;
}
.header1 {
  color: white;
}
.block {
  color: white;
}
img {
 display: inline;
 max-width: 22px;
 max-height: auto;
}